html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
/*=====================
      Preloader
=====================*/
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #001224;
  z-index: 99999;
}
#preloader .loader {
  width: 120px;
  height: 128px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../img/loading-animation.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin: -60px 0 0 -64px;
}
/*=====================
         Menu
=====================*/
#menu {
  position: fixed;
  width: 300px;
  top: 75px;
  left: 0;
  z-index: 100;
  overflow: hidden;
  transform: translate3d(-150px, 0, 0);
  transition: transform 0.6s;
}
#menu.menu-open {
  transform: translate3d(0, 0, 0);
}
#menu .menu-handler {
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 24px;
  padding: 0;
  position: absolute;
  top: 3px;
  right: 70px;
  z-index: 2000;
  cursor: pointer;
}
.menu-handler span {
  overflow: hidden;
  text-indent: 200%;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: opacity 0.25s;
}
.menu-handler::before,
.menu-handler::after,
.menu-handler span {
  background: #fff;
}
.menu-handler::before,
.menu-handler::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  transition: transform 0.25s;
}
.menu-handler::before {
  transform: translate3d(0, -10px, 0);
}
.menu-handler::after {
  transform: translate3d(0, 10px, 0);
}
.menu-open .menu-handler span {
  opacity: 0;
}
.menu-open .menu-handler::before {
  transform: rotate3d(0, 0, 1, 45deg);
}
.menu-open .menu-handler::after {
  transform: rotate3d(0, 0, 1, -45deg);
}
#menu ul {
  width: 100%;
  padding: 0 125px 0 30px;
  overflow-y: auto;
  height: 100%;
  position: relative;
  z-index: 100;
}
#menu ul li {
  margin-bottom: 30px;
  transform: translate3d(-150px, 0, 0);
  transition: transform 0.6s;
}
#menu ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 0 10px 30px;
}
#menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  background: #fff;
  transform: translateY(5px);
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
#menu ul li a:hover::after,
#menu ul li a:focus::after {
  opacity: 1;
  transform: translateY(0);
}
#menu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  font-family: "FontAwesome";
  font-size: 1.2em;
  color: #fff;
}
#menu ul li:nth-child(1) a::before {
  content: "\f015";
}
#menu ul li:nth-child(2) a::before {
  content: "\f0c0";
}
#menu ul li:nth-child(3) a::before {
  content: "\f0e0";
}
#menu.menu-open ul li {
  transform: translate3d(0, 0, 0);
}
#bg,
#bg-overlay {
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#bg-overlay {
  background: url(../img/bg-overlay.png) repeat;
}
/*=====================
       Content
=====================*/
.content,
#team,
#contact {
  text-align: center;
  position: relative;
  z-index: 5;
  transition: opacity 0.6s;
}
#menu.menu-open ~ div {
  opacity: 0.3;
  pointer-events: none;
}
.content .logo-site {
  display: inline-block;
  padding-top: 75px;
}
.content h2 {
  text-transform: uppercase;
  color: #fd3267;
  padding: 75px 0;
  font-size: 4.5em;
}
.content h3 {
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 75px;
  font-size: 1.71em;
}
.timer {
  padding-bottom: 75px;
}
.timer #countdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer #countdown .seperator {
  display: none;
}
.timer #countdown li {
  padding-right: 95px;
}
.timer #countdown li:last-child {
  padding-right: 0;
}
@media (max-width: 992px) and (min-width: 768px) {
  .timer #countdown li {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .timer #countdown {
    flex-direction: column;
  }
  .timer #countdown li {
    padding-right: 0;
    padding-bottom: 10px;
  }
}
.timer #countdown span {
  display: inline-block;
  width: 165px;
  color: #fff;
  font-size: 4.875em;
  padding-bottom: 25px;
}
.timer #countdown p {
  color: #fd3267;
  font-size: 0.8125em;
  text-transform: uppercase;
}
.content .notify {
  padding-bottom: 100px;
  font-size: 0.81em;
}
.notify #email {
  color: #fff;
  width: 370px;
  text-transform: uppercase;
  padding: 20px 18px;
  margin-right: 28px;
  background-color: transparent;
  border: 1px solid #fff;
}
.notify #email::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
.notify #email:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
.notify #email::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.notify #email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
.notify #email::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
@media (max-width: 650px) {
  body {
    font-size: 14px;
  }
  .content .logo-site {
    padding-top: 50px;
  }
  .content h2 {
    padding: 50px 0;
  }
  .content h3 {
    padding-bottom: 50px;
  }
  .timer {
    padding-bottom: 50px;
  }
  .content .notify {
    padding-bottom: 50px;
  }
  .notify #email {
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
.notify #submit {
  cursor: pointer;
  color: #fd3267;
  text-transform: uppercase;
  padding: 20px 30px;
  background-color: transparent;
  border: 1px solid #fd3267;
}
.content .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}
.content .socials li {
  padding-right: 35px;
}
.content .socials li:last-child {
  padding-right: 0;
}
.content .socials a {
  position: relative;
  display: inline-block;
  color: #fff;
  transition: color .3s ease;
  font-size: 18px;
}
.socials a span {
  visibility: hidden;
  width: 70px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 0.66em;
  z-index: 1;
}
.socials a span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.socials a:hover span {
  visibility: visible;
}
.content .socials a.fb:hover {
  color: #3b5998;
}
.content .socials a.tw:hover {
  color: #55acee;
}
.content .socials a.db:hover {
  color: #c73b6f;
}
.content .socials a.gp:hover {
  color: #dd4b39;
}
.content .socials a.yt:hover {
  color: #bb0000;
}
.content footer {
  padding-bottom: 15px;
  color: #fff;
  font-size: 0.75em;
}
.content footer a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
/*=====================
          Team
=====================*/
#team,
#contact {
  color: #fff;
  padding-top: 120px;
  margin: 0 auto;
  width: 1200px;
}
#team h3,
#contact h3 {
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 20px;
  color: #fff;
}
#team .sec-seperator,
#contact .sec-seperator {
  overflow: hidden;
  height: 20px;
  display: block;
  width: 200px;
  margin: auto;
}
#team .sec-seperator::after,
#contact .sec-seperator::after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 10.41666667px;
  box-shadow: 0 0 8px white;
}
#team > p {
  padding: 20px 0;
  font-size: 1.25em;
  line-height: 1.2;
}
#team .team-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
.team-content > div {
  background: rgba(100, 100, 100, 0.6);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 15px;
  width: 240px;
  margin: 10px;
}
.team-content > div img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  max-width: 100%;
  object-fit: cover;
}
.team-content > div .fullname {
  font-size: 1.2em;
  padding-top: 15px;
  padding-bottom: 15px;
}
#team .team-socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.team-content > div .team-socials a {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}
.team-socials a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "FontAwesome";
  font-size: 1.2em;
  color: #fff;
  transition: color .3s ease;
}
.team-socials a.facebook::before {
  content: "\f09a";
}
.team-socials a.facebook:hover::before {
  color: #3b5998;
}
.team-socials a.twitter::before {
  content: "\f099";
}
.team-socials a.twitter:hover::before {
  color: #55acee;
}
.team-socials a.pinterest::before {
  content: "\f0d2";
}
.team-socials a.pinterest:hover::before {
  color: #cb2027;
}
.team-socials a.google-plus::before {
  content: "\f0d5";
}
.team-socials a.google-plus:hover::before {
  color: #dd4b39;
}
@media (max-width: 1999px) and (min-width: 992px) {
  #team {
    width: 970px;
  }
}
@media (max-width: 991px) {
  #team {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*=====================
        About
=====================*/
#contact {
  text-align: center;
  position: relative;
  z-index: 5;
  transition: opacity 0.6s;
}
#contact .contact-content {
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.contact-content #contact-form,
.contact-content > div {
  width: 40%;
}
#contact-form input,
#contact-form textarea {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px 18px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
#contact-form input:last-child {
  margin-bottom: 0;
}
#contact-form #contact-submit:hover {
  background: #fff;
  color: #333;
  opacity: 0.8;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #fff;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
#contact-form #message {
  resize: none;
}
